<div id="sortAndPerPage">
  <div id="sortAndPerPage" class="clearfix">
    <%= render partial: "paginate_compact", object: @response if show_pagination? %>
    <%= button_for_create_collection %>
    <%= render 'collections/form_for_select_collection', user_collections: @user_collections %>
  </div>
</div>
